<section class="text-gray-900 p-14 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex justify-between">
      <h1 class="text-xl font-semibold sm:text-2xl">Shopping Cart</h1>
      <button
        class="inline-flex items-center text-sm font-medium text-red-600 hover:underline"
        (click)="handleCartEvents({ event: CART_EVENTS.CLEAR })">
        Clear cart
      </button>
    </div>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="flex flex-col gap-3">
          @if (cartItems$ | async; as cartItems) {
            @for (cartItem of cartItems; track $index) {
              <app-cart-item-card
                [cartItem]="cartItem"
                (onClick)="handleCartEvents($event)" />
            } @empty {
              <p class="text-gray-500">Your cart is empty.</p>
            }
          }
        </div>
      </div>

      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <div
          class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">
          <p class="text-xl font-semibold text-gray-900">
            Total <span>{{ total$ | async | currency: 'EUR' }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
